Body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-family: "ヒラギノ角ゴ Pro w3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    color: #FFF;
}

canvas {
    position:absolute;
}

#nocanvas {
    margin-top: 80px;
    margin-bottom: 20px;
}

#copyright {
    position:absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;

    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: 10px;
}